<body>

 <h1>
   <% fortunes = ["you'll be a cat lady", "youll play d1 ball"]%>
<%= "Hello #{@name}, It is a good day to be a #{@sign}. Your fortune is: #{fortunes.sample}" %>
  
</h1>
  
  
  
</body> 